* {
    background-color: rgb(234, 252, 193);
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    background-color: darkblue;
    color: white;
}

header h1 {
    background-color: darkblue;
    color: white;
}

header nav {
    background-color: darkblue;
    color: white;
}

header nav a{
    background-color: darkblue;
    color: white;
}

h1 {
    padding-left:5px;
}

nav {
    display:flex;
    align-items: center;
    padding: 5px;
}

nav a {
    display: flex;
    flex-wrap: wrap;
    padding: 5px
}

main {
    width: 33%;
    display: inline-block;
}

.profile{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: dotted;
    max-width: 500px;
}

img {
    max-height: 300px;
    background-color: rgb(139, 139, 139);
    padding: 5px ;
    border: solid;
    border-radius: 5px;
    border-color: black;
    box-shadow: 5px 5px 5px;
    margin-right: 20px;
}

.img1:hover {
    transform: scale(1.1);
}

.img1 {
    max-width: 300px;
}

.para1 {
    max-width: 300px;
    padding-top: 100px;
}

.para2 {
    text-align: center;
}

aside {
    width: 67%;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

article {
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
    }

    main {
        width:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile {
        flex-direction: column;
        align-items: center;
        width:-webkit-fill-available;
    }
    img {
        display: flex;
        width: 200px;
    }

     .photo1{
        display: flex;
        justify-content: center;
    }

    .para1 {
        padding-top:20px;
        text-align: center;
    }

    aside {
        width:auto;
        float:inherit;
        flex-direction: column;
    }

    .para2 {
        text-align: center;
    }
}